body {
  font-family: 'Roboto', sans-serif;
}
div { 
  background-color: rgb(8,76,46);
}
h1 {
  text-align: center;
  font-size: 32;
  color: rgb(255,255,255);
  text-decoration: underline;
}
a {
  color: rgb(70,250,255);
}
p {
  color:rgb(255,255,255);
}
ol {
  color: rgb(255,255,255);
}
img {
  border-style: ridge;
  border-width: thick;
  border-radius: 100px;
  width: 500px;
  height: 300px;
  margin: 20px;
  align-content: center;
}
ol { 
  list-style: upper-roman
}
.nav{
  border:1px solid #ccc;
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}
.nav li{
  display:inline;
}
.nav a{
  display:inline-block;
  padding:5px;
}